.rr{
    text-align: center;
    color:#343A40 ;
    font-size:75px;
    color: rgb(4, 42, 104);
    font-family: petrona;
    font-weight: bold;
}

.g{
    color: white;
    text-align: center;
    
    
}

  