.rr {
  text-align: center;
  color: rgb(20, 131, 63);
}

.g {
  color: black !important;
  font-size: 225%;
  text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.card{
  width: 20rem;
  border: 2px solid black;
  margin-left: 2rem;
  margin-bottom: 5%;
  border-radius: 10px;
  text-align: center;
}
.justufy{
  text-align: justify;
}